body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(4,109,130,1) 100%);
    font-family: Arial, serif;
    color: white;
    margin: 20px;
}

.navbar{
    margin-bottom: 30px;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    color: black;
}

.navbar-brand{
    padding-right: 5px;
    border-right: 2px solid rgb(8, 0, 56);
}

.nav-link{
    color: black !important;
}

.btn-info, .btn-primary {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
}

.btn-info:hover, .btn-primary:hover {
    background-position: right center;
    color: #fff;
}

.login-register{
    width: 300px;
}

.display-form{
    width: 400px;
}

label{
    font-size: 18px;
}

.form-group{
    margin-bottom: 10px;
}

.form-control{
    margin-bottom: 20px;
    box-shadow: 0 0 20px #eee;
}

.form-button{
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

table{
    margin-top: 15px;
}

