{% extends "base.html" %}
{% block title %} Create task {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="display-form">
  <form action = "{{user}}" method="post">
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" type = "text" name = "name" value = "{{name if name}}">
          <label>Starting date</label>
          <input class="form-control" type = "text" name = "startDate" value = "{{startDate if startDate}}">
          <label>Finish date</label>
          <input class="form-control" type = "text" name = "endDate" value = "{{endDate if endDate}}">
          <label>Finished</label>
          <input class="form-control" type = "text" name = "finished" value = "{{finished if finished}}">
          
          <input class="btn btn-primary" type = "submit" value = "Save changes">
          <a class="btn btn-primary" href="/user" role="button">Back</a>
      </div>
  </form>
</div>
 
 {% endblock %}