{% extends "base.html" %}
{% block title %} User {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<a class="btn btn-primary" href="/createTask" role="button">Create task</a>

 <table class="table table-striped table-dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Starting date</th>
        <th>End date</th>
        <th>Completed</th>
        <th>Functions</th>
    </tr>
    {% for index in range(size) %}
    <tr>
        <td>{{index+1}}</td>
        <td>{{values[index].name}}</td>
        <td>{{values[index].startDate}}</td>
        <td>{{values[index].endDate}}</td>
        <td>{{values[index].done}}</td>
        <td>
            <form id="btn" action="{{ url_for('complete') }}" method="post">
                <button class="btn btn-primary" type = "submit" name = "Complete" value = "{{index}}">Complete</button>
            </form>
            <form id="btn" action="{{ url_for('delete') }}" method="post">
                <button class="btn btn-primary" type = "submit" name = "Delete" value = "{{index}}">Delete</button>
            </form>
            <form id="btn" action="{{ url_for('linkToEdit') }}" method="post">
                <button class="btn btn-primary" type = "submit" name = "Edit" value = "{{index}}">Edit</button>
            </form>
        </td>
    </tr>
    {% endfor %}

 </table>
 {% endblock %}